*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container{
    min-height: 100vh;
    min-width: 100vw;
    background-color: #0d1012;
    overflow-x: hidden;
}

