.create__container{
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create__form{
    
}

.color__container div{
    cursor: pointer;
    width: 60px;
    height: 60px;
}